.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 180px;
  margin: 32px 0px;
}

.tech-stack h2 {
  font-size: 34px;
  padding: 34px;
}

.tech-group-container {
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: space-evenly;
}

.tech-icon {
  width: 32px;
  height: 32px;
  margin: 8px;
  color: rgb(31, 28, 28);
}


@media only screen and (min-width: 700px) {

  .tech-icon {
    width: 48px;
    height: 48px;
  }
}