* {
  /* box-sizing: border-box; */
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 30px;
  font-weight: 300;
}

h4 {
  font-size: 20px;
  font-weight: 300;
}

p {
  font-size: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* padding: 32px; */
}


/* about section */

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url("./media/smallHome.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: white;
  background-size: 250px;
  padding: 0px 30px;
  margin-bottom: 100px;
}

.about-text {
  background-color: white;
  padding-bottom: 20px;
}

.about-image {
  height: 180px;
  width: auto;
  filter: drop-shadow(1px 0px 0px rgb(0, 0, 0));
}

.sitting {
  display: flex;
  padding: 0px 20px;
  align-items: flex-end;
}

.sitting p {
  height: 200px;
}

/* desktop styles for about section */

@media only screen and (min-width: 1000px) {
  .about {
    background-image: url("./media/Home.png");
    background-size: 1000px;
  }

  .about-image {
    height: 350px;
  }

  .sitting p {
    height: 350px;
  }

}


/* tech stack */

.brand-icon {
  background-color: pink;
  fill: white;
}

/* more section */

.xstitch {
  height: 200px;
  width: auto;
  filter: drop-shadow(-1px 5px 5px rgb(72, 72, 72));
}