* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

p {
  font-size: 18px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  background-image: url("./components/whiteRectangle.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #efefef;
}

.intro-text {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 50px;
}

@media only screen and (min-width: 1000px) {
  .intro-text {
    margin-bottom: -200px;
  }

  h2 {
    font-size: 50px;
  }
}

.intro-image {
  height: auto;
  min-width: 200px;
  max-width: 30vw;
  margin-left: 100px;
  margin-bottom: 100px;
  filter: drop-shadow(-1px 0px 0px rgb(0, 0, 0));
}
